{% extends 'base.html' %}

{% block content %}

{% include 'error_message.html' %}
{% include 'message.html' %}

<h3 class="text-center">Dodawanie nowego lekarza</h3>

<form action="/appointments/add_doctor/" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="row justify-content-center">
        <div class="form-group col-md-offset-3 col-md-6 col-md-offset-3">
            {{ field.label_tag }}

            {{ field }}

            {% if field.help_text %}
            <small class="form-text text-muted">
                {{ field.help_text }}
            </small>
            {% endif %}

            {% for error in field.errors %}
            <small class="text-danger">{{ error }}</small>
            {% endfor %}
        </div>
    </div>
    {% endfor %}


    <div class="row justify-content-center">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3 align-self-md-center">
            <button type="submit" class="btn btn-dark">Zatwierdź</button>
        </div>
    </div>

</form>

{% endblock %}

