{% extends 'base.html' %}

{% block content %}
<form action='/appointments/logout' method='GET'>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/appointments/home" class="btn btn-info btn-sm">Wizyty</a>
            <form class="d-flex">
                <a class="navbar-brand">{{ request.session.email }}</a>
                <button type='submit' class="btn btn-secondary btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
  <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
</svg>Wyloguj</button>
            </form>
        </div>
    </nav>
</form>
<div class="container">
    <br>
    <h3 class="text-center">Nowa wizyta</h3>
    <br>
    {% include 'message.html' %}

    <form action="/appointments/add_visit/" method="post">
        {% csrf_token %}

        <div class="row justify-content-center">
            <div class="form-group col-md-offset-3 col-md-6 col-md-offset-3">
                <h5>Miejsce</h5>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="form-group col-md-offset-3 col-md-6 col-md-offset-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radios" id="radioChoose" value="choose"
                           checked>
                    <label class="form-check-label" for="radioChoose">
                        Wybierz placówkę
                    </label>
                </div>
            </div>
        </div>

        <div class="row justify-content-center choose selectt">
            <div class="form-group col-md-offset-3 col-md-6 col-md-offset-3">
                <select id="selectAddressId" class="form-control" name="selectAddress">
                    <option selected>-----</option>
                    {% for option in options %}
                    <option name="{{option}}">{{option}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <br>
        <div class="row justify-content-center">
            <div class="form-group col-md-offset-3 col-md-6 col-md-offset-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="radios" id="radioEnter" value="enter">
                    <label class="form-check-label" for="radioEnter">
                        Wpisz adres
                    </label>
                </div>
            </div>
        </div>

        {% for field in address_form %}
        <div class="row justify-content-center enter selectt">
            <div class="form-group col-md-offset-3 col-md-6 col-md-offset-3">

                {{ field.label_tag }}
                {{ field }}

                {% for error in field.errors %}
                {{ error }}
                {% endfor %}

            </div>
        </div>
        {% endfor %}

        <br>
        <div class="row justify-content-center">
            <div class="form-group col-md-offset-3 col-md-6 col-md-offset-3">
                <h5>Termin</h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="form-group col-md-offset-3 col-md-6 col-md-offset-3">

                {{ visit_form.date.label_tag }}
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    {{ visit_form.date }}
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>

                {% for error in visit_form.date.errors %}
                {{ error }}
                {% endfor %}
            </div>
        </div>

        <br>
        <div class="row justify-content-center">
            <div class="col-md-offset-3 col-md-6 col-md-offset-3 align-self-md-center">
                <button type="submit" value="address" class="btn btn-dark button-center">Zatwierdź</button>
            </div>
        </div>

    </form>

</div>

<script type="text/javascript">
    $(function () {
        $("#datetimepicker1").datetimepicker({
            format: 'YYYY-DD-MM HH:mm', locale: 'pl',
        });
    });

    $(document).ready(function () {
        $('input[type="radio"]')
            .change(function () {
                if ($(this).attr("value") === "choose") {
                    $(".selectt").not(".choose").hide();
                    $(".choose").show();
                }
                if ($(this).attr("value") === "enter") {
                    $(".selectt").not(".enter").hide();
                    $(".enter").show();
                }
            })
            .filter(function (checkbox) {
                return $(this).prop("checked");
            })
            .trigger("change");
    });

</script>

{% endblock %}