<form action='/appointments/logout' method='GET'>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link {{ home_page }}" href="/appointments/home">Moje wizyty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ search_visit_page }}" href="/appointments/home/search_visit">Wyszukaj wizytę</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{alert_page}}" href="/appointments/home/alerts">Alerty</a>
                </li>
            </ul>
            <a class="navbar-brand">{{ request.session.email }}</a>
            <button type='submit' class="btn btn-secondary btn-sm">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power"
                     viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z"/>
                    <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z"/>
                </svg>
                Wyloguj
            </button>
        </div>
    </nav>
</form>